### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [2]:
birth_year =2001
fifth_birthday = birth_year + 5
years_list = [year for year in range(birth_year, fifth_birthday)]
print(years_list)

[2001, 2002, 2003, 2004, 2005]

### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [3]:
birth_year = 2001
third_birthday = birth_year + 3

if third_birthday in years_list:
    print(f"The year of your third birthday is: {third_birthday}")
else:
    print("Third birthday does not in list.")

The year of your third birthday is: 2004

### 3.In the years list, which year were you the oldest?

In [4]:
oldest_year = birth_year + 5

if oldest_year in years_list:
    print("The year when you were the oldest is:", oldest_year)
else:
    print("The years_list does not include the year when you were the oldest.")

The years_list does not include the year when you were the oldest.

### 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [5]:
things = ["mozzarella", "cinderella", "salmonella"]

### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [6]:
things[1] = things[1].capitalize()
print(things) #Yes it change the case in 2nd element

['mozzarella', 'Cinderella', 'salmonella']

### 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [7]:
surprise = ["Groucho", "Chico", "Harpo"]

### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [8]:
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1] = surprise[-1].capitalize()
print(surprise)

['Groucho', 'Chico', 'Oprah']

### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse

In [9]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

### 9. Write the French word for walrus in your three-word dictionary e2f.

In [10]:
french_word = e2f['walrus']
french_word

'morse'

### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [11]:
f2e = {value: key for key, value in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### 11. Print the English version of the French word chien using f2e.

In [12]:
english_word = f2e['chien']
english_word

'dog'

### 12. Make and print a set of English words from the keys in e2f.

In [13]:
english_words = set(e2f.keys())
print(english_words)

{'dog', 'walrus', 'cat'}

### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [14]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

### 14. Print the top-level keys of life.

In [16]:
top_level_keys = life.keys()
top_level_keys

dict_keys(['animals', 'plants', 'other'])

### 15. Print the keys for life['animals'].

In [17]:
animal_keys = life['animals'].keys()
animal_keys

dict_keys(['cats', 'octopi', 'emus'])

### 16. Print the values for life['animals']['cats']

In [18]:
cat_values = life['animals']['cats']
cat_values

['Henri', 'Grumpy', 'Lucy']