### Q1. Find the largest number from the given list, use for loop.

In [1]:
numbers = [12, 75, 150, 180, 145, 525, 50]

largest = numbers[0]

for i in numbers:
  if i > largest:
    largest = i
print(f"Largest number is {largest}")

#It should be print 525

Largest number is 525

### Q-2. Print all the even number between (1, 12)

In [2]:
for i in range(1, 12):

  if i%2 != 0:
    continue
  print(f"{i}")

2
4
6
8
10

### Q3. Calculate the sum of all numbers from 1 to a given number

In [3]:
number = int(input("Enter the number: "))

sum = 0
for i in range(1, number + 1):
  sum = sum + i

print(f"Total sum is {sum}")

#expected input is 10 so sum will be 55

Enter the number: 10
Total sum is 55

### Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [4]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i > 150:
    if i > 500:
      break
      print(f"Loop has stopped due to {i} number")
    continue
    print(f"Loop will continue since it is {i}")
  if i % 5 == 0:
    print(f"{i} are acceptable")

75 are acceptable
150 are acceptable
145 are acceptable

### Q5. Print the given list in reverse order.

In [7]:
list1 = [10, 20, 30, 40, 50]

reverse = list(reversed(list1))
print(reverse)

[50, 40, 30, 20, 10]