### Q-1 On amazon website we have the following available items -
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total

HINT: while, for loop.. indexing

In [1]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

In [9]:
N = int(input("Enter the the number of item you want to purchase: "))
i = 0
total = 0
while i<N:
  item = input("Enter the item you want to enter: ")
  for j in range(len(amazon_website)):
    if item == amazon_website[j][0]:
      print("your item is available")
      total = total + amazon_website[j][1]
    else:
      print("Item out of stock, wil be available soon")
  i = i + 1
print(f"Total item cost is {total}")

Enter the the number of item you want to purchase: 3
Enter the item you want to enter: phone
Item out of stock, wil be available soon
your item is available
Item out of stock, wil be available soon
Item out of stock, wil be available soon
Enter the item you want to enter: laptop
Item out of stock, wil be available soon
Item out of stock, wil be available soon
your item is available
Item out of stock, wil be available soon
Enter the item you want to enter: shirtt
Item out of stock, wil be available soon
Item out of stock, wil be available soon
Item out of stock, wil be available soon
Item out of stock, wil be available soon
Total item cost is 60000

### Q-2. What will be the output of the following code snippet?

In [13]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

#in first arr[i-1] = arr[i], it arr[0] = arr[1]---> it means 1=2, 2=3, 3=4, 4=5, 5=6, 6=6(as nothing is there) so array becomes arr = [2, 3, 4, 5, 6, 6]
#for 2nd range array is separated with list so output will be 2 3 4 5 6 6

2 3 4 5 6 6

### Q-3 Write a Python program to find the repeated items of a tuple.

In [15]:
tup = (1, 3, 5, 5, 6, 7, 8, 8, 10)
x = len(tup)

convert = set(tup)
y = len(convert)

repeted_item = x-y

print(f"Total number of repeated items in tup were: {repeted_item}")

Total number of repeated items in tup were: 2

### Q-4 Replace last value of tuples in a list with 500. Try using list comprehension

In [16]:
x = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [22]:
for i in range(len(x)):
  x[i] = list(x[i])
  x[i][2] = 500
  x[i] = tuple(x[i])
print(x)

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]

In [23]:
#tried with list comprehension but not able to do it, please suggest me method