1. Print the first 5 positive integers in ascending order with one number 
in each line

In [3]:
for i in range(1, 6):
    print (i)

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [12]:
for i in range(1, 6):
    print("*"*i)

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [13]:
say = int(input("Enter an integer: "))

print(say**2)

Enter an integer: 5
25

4.Accept two integers as input and print their sum as output.

In [14]:
a = int(input("Enter 1st integer: "))
b = int(input("Enter 1st integer: "))

print(a+b)

Enter 1st integer: 10
Enter 1st integer: 58
68

5. Accept two words as input and print the two words after adding a 
space between them

In [16]:
print(f"{input()} {input()}")

Hello
Ayush
Hello Ayush

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [18]:
vehicle_no  = input("Enter your vehicle number: ")
print(f"{vehicle_no[0:2]}")

Enter your vehicle number: GJ068982
GJ

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [20]:
nu = input("Enter your 5 digit number: ")
x = int(nu[0]) + int(nu[1]) + int(nu[2]) + int(nu[3]) + int(nu[4])

print(x)

Enter your 5 digit number: 12345
15

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [21]:
print(f"{input()} {input()} {input()} {input()} {input()}.")

Hello
I
am
Ayush
Gandhi
Hello I  am  Ayush Gandhi.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [22]:
date = input("Enter your date in DD-MM-YYYY format: ")

print(date[-4:])

Enter your date in DD-MM-YYYY format: 01-01-2001
2001

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [23]:
no = input("Enter your 5 different digit separated by ,: ")

x = int(no[0])*int(no[2])*int(no[4])*int(no[6])*int(no[8])

print(x)

Enter your 5 different digit separated by ,: 1,2,3,4,5
120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy

In [27]:
x = input("Enter the positive integer: ")
y = input("Enter the positive integer: ")

print(f"{x}{y}")

Enter the positive integer: 8
Enter the positive integer: 9
89

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [34]:
string = input("Enter your string: ")
n = (len(string))
if n % 2 == 0:
    if string[-1] == ".":
        string = string[:n]
    else:
        string = string + "."

n = int((len(string)-1) / 2)
print(string[n-1:n+2])

Enter your string: hello.
ell

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [36]:
x = int(input("Enter an intger: "))
y = int(input("Enter an intger: "))
z = int(input("Enter an intger: "))

if (x**2+y**2 == z**2) or (x**2+z**2 == y**2) or (z**2+y**2 == x**2):
    print("yes")
else:
    print("no")

Enter an intger: 3
Enter an intger: 4
Enter an intger: 5
yes

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [38]:
#considering the statement, it can be seen every empolyee needs to be even to satisfy contion so we can just called


a = int(input("Enter your id: "))
b = int(input("Enter your id: "))
c = int(input("Enter your id: "))
d = int(input("Enter your id: "))
e = int(input("Enter your id: "))

if (a+b)%2 == 0 and (a+e)%2 == 0 and (c+b)%2 == 0 and (c+d)%2 == 0 and (d+e)%2 == 0:
    print("YES")
else:
    print("NO")

Enter your id: 4
Enter your id: 5
Enter your id: 6
Enter your id: 7
Enter your id: 8
NO

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [2]:
vowels = ["a", "e", "i", "o", "u"]

string = input("Enter your string: ")

string = string.lower()
string = list(string)

vols = []

for i in string:
    if i in vowels:
        vols.append(i)
if vols == []:
    print("None")
else:
    print(vols)

Enter your string: ysh
None

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [5]:
n1 = input("Enter your name: ")
d1 = input("Enter your birthdate in DD-MM-YYYY format: ")
n2 = input("Enter your name: ")
d2 = input("Enter your birthdate in DD-MM-YYYY format: ")

if d1 == d2:
    if n1 > n2:
        print(f"{n1} is younger then {n2}")
    else:
        print(f"{n2} is younger then {n1}")
else:
    if d1[-4:] > d2[-4:]:
        print(f"{n1} is younger then {n2}")
    elif d1[-4:] < d2[-4:]:
        print(f"{n2} is younger then {n1}")
    else:
        if d1[-4:] == d2[-4:]:
            if d1[4:6] > d2[4:6]:
                print(f"{n1} is younger then {n2}")
            elif d1[4:6] < d2[4:6]:
                print(f"{n2} is younger then {n1}")
            else:
                if d1[1:3] > d2[1:3]:
                    print(f"{n1} is younger then {n2}")
                else:
                    print(f"{n2} is younger then {n1}")

Enter your name: Ayush
Enter your birthdate in DD-MM-YYYY format: 04-05-2001
Enter your name: Hemil
Enter your birthdate in DD-MM-YYYY format: 05-05-2001
Hemil is younger then Ayush

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [16]:
p = input("Enter your password: ")

a = ["/", "\\", "=", "'", '"', " "]
p = list(p)

if 8 <= len(p) <= 32:
    if p[0].isupper() or p[0].islower():
        for i in a:
            if i not in p:
                pass
            else: 
                print("Password invalid: It should not have special character or space in between")
    else:
        print("password invalid: first letter must start with upper or lower case")
else:
    print("password invalid: it must have at least 8 and at most 32 character")

Enter your password: Hellllllllo

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [17]:
num = int(input("Enter the number"))

for i in range(1, num+1):
    print(i)

Enter the number8
1
2
3
4
5
6
7
8

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [23]:
num = int(input("Enter the number"))
prime = True

for i in range(2, num):
    if num % i == 0:
        prime = False
if prime == True:
    print("Prime")
else:
    print("Not Prime")

Enter the number73
Prime

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [27]:
s1 = input("Enter your 1st string")
s2 = input("Enter your 2nd string")

for i in s1:
    if i in s2:
        s2 = s2.replace(i, "")
print(s2)

Enter your 1st stringayush
Enter your 2nd stringhemil
emil

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [25]:
phone = (input("Enter your phone number: "))

a = True

if len(phone) == 10:
    if phone[0] == "6" or phone[0] == "7" or phone[0] == "8" or phone[0] == "9":
        for i in phone:
            if phone.count(i) < 8:
                if i*6 in phone:
                    a = False
                else:
                    a = True
            else:
                a = False
    else:
        a = False
else:
    a = False

if a == True:
    print("valid phone number")
else:
    print("Invalid string")

Enter your phone number: 8888888888
Invalid string

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [26]:
a = input("Enter the sequence of space separated workds: ").split(" ")
b = input("Enter the single word:")

if b in a:
    print("YES available")
    print(a.count(b))
else:
    print("NO")

Enter the sequence of space separated workds: Hello I am Ayush studying in Ayush
Enter the single word:Ayush
YES available
2

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [31]:
def factorial(a):
    
    x = 1
    
    if a <0:
        return(-1)
    elif a == 0:
        return(1)
    else:
        for i in range(1, a+1):
            x = x*i
        return(x)

In [35]:
factorial(10)

3628800

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [42]:
def get_range(a):
    
    b = a[0]
    c = a[0]
     
    
    for i in a:
        if i >= b:
            b = i
        if i <= c:
            c = i
    return (b-c)

In [43]:
get_range([1, 2, 3, 4, 5])

4

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [44]:
#yet to cover

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [45]:
def ask(a):
    a = input("Enter your roll number for the batch in form of BR18B0000: ")
    
    if len(a) == 9 and a[0:2] == "DS" and a[2:4].isnumeric() and a[4].isalpha() and a[5:].isnumeric():
        print("Belongs to data science batch")
    else:
        print("Dont belongs to DS batch")

In [47]:
ask(a)

Enter your roll number for the batch in form of BR18B0000: DS22C8938
Belongs to data science batch

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [50]:
e = input("Enter the evidence you got: ")

if(e[0:4] == "TN07" or e[4:8] == "TN07"):
    print("It can be criminal")
else:
    print("It can't be criminal")

Enter the evidence you got: TN07AAAA
It can be criminal

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [54]:
a = input()
b = int(input("Enter an integer"))
c = int(input("Enter an integer"))

x = a[b:c+1]
y = len(a)
ans = ""

while y >= len(a):
    ans += x
print(ans)

Hellllo
Enter an integer2
Enter an integer4

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [1]:
team = int(input("Enter your roll no to know the team you belong: "))

if team%4 == 0:
    print("It belongs to Emerald group")
elif team%2 == 0 and team%4 != 0:
    print("It belongs to Peridot group")
elif (team+1)%4 == 0:
    print("It belongs to Ruby group")
else:
    print("It belongs to Sapphire group")

Enter your roll no to know the team you belong: 21
It belongs to Sapphire group

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [3]:
backlog = int(input("Enter your no. of backlogs: "))
CGPA = float(input("Enter your CGPA: "))

if (backlog <= 5) and (CGPA > 6):
    print("Congratulations! You have been selected")
    print(f"Your salary offer is {CGPA*500000}")
else:
    print("You have not been selected")

Enter your no. of backlogs: 3
Enter your CGPA: 6.5
Congratulations! You have been selected
Your salary offer is 3250000.0

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [5]:
string = input("Enter a string")

if string[0:] == string[::-1]:
    print("palindrome")
else:
    print("not palindrome")

Enter a stringyayayayayay
palindrome

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [31]:
def get_password_strength(ids, pas):
    
    s = 0
    cap = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    c_ = False
    sma = "abcdefghijklmnopqrstuvwxyz"
    s_ = False
    num = "0123456789"
    n_ = False
    
    sp_ = False #for special character
    i_ = False #for id
    
    
    for i in range(len(pas)):
        if pas[i] in cap:
            c_ = True
        elif pas[i] in sma:
            s_ = True
        elif pas[i] in num:
            n_ = True
        if n_:
            if pas[i:i+2] in num:
                n_ = False
                
        if (pas[i] not in num) and (pas[i] not in cap) and (pas[i] not in sma):
            sp_ = True
        
        if ids not in pas:
            i_ = True
            
    if len(pas) > 7:
        s += 1    
    if c_ and s_:
        s += 1
    if n_:
        s += 1
    if sp_:
        s += 1
    
    if s==4:
        print("Very strong")
    if s==3:
        print("Strong")
    if s==2:
        print("Moderate")
    if s==1:
        print("Weak")
    if not i_:
        print("Password invalid due to user id in password")
    if s==0:
        print("Use different password")

In [32]:
get_password_strength("ayush", "hellHAyush123@0")

Strong

33.decorator that logs the date and time

In [71]:
from datetime import datetime

In [76]:
def dt(func):
    """Current date & time"""
    
    def new():
        print(datetime.today().strftime("%Y-%m-%d %H:%M:%S"))
        func()
    return new

@dt
def test():
    print("hello")

In [77]:
test()

2022-11-24 19:48:16
hello

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [10]:
def odd_list(a):
    
    l = []
    
    for i in a:
        if a.count(i)%2 == 1:
            if i not in l:
                l.append(i)
    return l

In [11]:
z = [14, 52, 1, 2, 5, 8, 8, 8, 5]

In [12]:
odd_list(z)

[14, 52, 1, 2, 8]

35.What are decorators in Python?

In [13]:
#decorator are function which allows users to new functionality to an existing object without modifying the structure

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [45]:
my_list = [3, 6, 9, 19, 24]

for item in my_list.copy():
    if item > 10:
        my_list.remove(item)

print(my_list)

[3, 6, 9]

In [60]:
sample_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

sample_list = [i for i in sample_list if i > 50]

print(sample_list)

[60, 70, 80, 90, 100]

In [39]:
sample_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(sample_list)):
#     if sample_list[i]<50:
#         del sample_list[i]
        print(i)
print(sample_list)

0
1
2
3
4
5
6
7
8
9
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [17]:
def dup(a):
    b = []
    
    for i in a:
        if a.count(i) > 1:
            if i not in b:
                b.append(i)
    return b

In [19]:
dup(sample_list)

[20, 60, 30]

In [40]:
# for a test :- create a decorator for more split & lower 
def low_dec(fun):
    def wrapper():
        func = fun()
        lower = func.lower()
        return lower
    return wrapper

def split(fun):
    def wrapper():
        func = fun()
        split = func.split()
        return split
    return wrapper

In [43]:
@split
@low_dec
def hello():
    return  "hello world"

In [44]:
hello()

['hello', 'world']

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [48]:
def con(x, y):
    def inner(x, y):
        return x + y
    z = inner(x, y)
    return z + " devloper"

In [49]:
con("ayush", " gandhi")

'ayush gandhi devloper'

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [51]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [61]:
list1[1][2][2][1] = 3500

In [62]:
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [63]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [67]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [98]:
a = 0
p = 0
for i in range(0, 11):
    
    a = a+i
    print(f"current no is {i} Previous no {p} sum: {a}")
    p = i

current no is 0 Previous no 0 sum: 0
current no is 1 Previous no 0 sum: 1
current no is 2 Previous no 1 sum: 3
current no is 3 Previous no 2 sum: 6
current no is 4 Previous no 3 sum: 10
current no is 5 Previous no 4 sum: 15
current no is 6 Previous no 5 sum: 21
current no is 7 Previous no 6 sum: 28
current no is 8 Previous no 7 sum: 36
current no is 9 Previous no 8 sum: 45
current no is 10 Previous no 9 sum: 55

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [71]:
string = input("Enter string: ")

for i in range(0, len(string),2):
    print(string[i], end = " ")

Enter string: ineuron
i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [75]:
for i in range(1, 11):
    for j in range(1, 11):
        k = i*j
        print(k, end = " ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [78]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

unique_item = tuple(set(sample_list))

print(max(unique_item))
print(min(unique_item))

99
41

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [79]:
add = lambda x : x+15
print("Addition", add(2))

mul = lambda x, y: x*y
print("Multiplication: ", mul(15, 2))

Addition 17
Multiplication:  30

46. Write a Python program to sort a list of tuples using Lambda.

In [81]:
sor = lambda x: sorted(x)
print(sor([1, 5, 29, 9]))

[1, 5, 9, 29]

47. Write a Python program to extract year, month, date and time using Lambda.

In [84]:
import datetime
now = datetime.datetime.now()

year = lambda x:x.year
month = lambda x:x.month
day = lambda x:x.day
timee = lambda x: x.time()

print(year(now))
print(month(now))
print(day(now))
print(timee(now))

2022
11
26
17:18:46.198540

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [85]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = len(list(filter(lambda x: x%2 == 0, l)))
odd = len(list(filter(lambda x: x%2 == 1, l)))

print(even)
print(odd)

5
5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [91]:
def test(s):
    return str(s).upper(), str(s).lower()

In [92]:
char = ["a", "E", "i", "o", "U"]

In [96]:
r = map(test, char)

In [97]:
list(set(r))

[('I', 'i'), ('E', 'e'), ('O', 'o'), ('A', 'a'), ('U', 'u')]

50.  Write a Python program to square the elements of a list using map() function.

In [86]:
def sq(n):
    return n**2

In [87]:
number = (1, 2, 3)

In [88]:
r = map(sq, number)

In [90]:
list(r)

[1, 4, 9]

In [2]:
#decorator function string

def test(name):
    """
    This function greets to person
    """
    print(f"Hello {name}! Good Moring")

In [4]:
test("ayush")

Hello ayush! Good Moring

In [5]:
print(test("hemil"))

Hello hemil! Good Moring
None

In [6]:
def ab(num):
    if num>=0:
        return num
    else:
        return -num

In [10]:
ab(-2)

2

In [11]:
def square(x):
    return (x*x)

In [12]:
square(3)

9

In [13]:
f = square(4)

In [14]:
f

16

In [15]:
type(f)

int

In [16]:
type(square(4))

int

In [17]:
type(square)

function

In [19]:
u = square

In [20]:
u(9)

81

In [25]:
def outer():
    message = "hi"
    
    def inner():
        print(message)
    return inner()

In [23]:
def outer():
    message = "hi"
    
    def inner():
        print(message)
    return inner

In [26]:
outer()

hi

In [45]:
my_list = [22, 33, 66, 77, 99]

for item in my_list.copy():
    if item < 50:
        my_list.remove(item)

print(my_list)

[66, 77, 99]