### 1.	Write a Python program to find sum of elements in list?

In [1]:
def list_sum(a):

  sum = 0
  for i in a:
    sum += i
  return sum

In [2]:
list_sum([1, 592, 10])

603

### 2.	Write a Python program to  Multiply all numbers in the list?

In [3]:
def list_mul(a):

  mul = 1
  for i in a:
    mul *= i
  return mul

In [4]:
list_mul([19, 12, 9])

2052

### 3.	Write a Python program to find smallest number in a list?

In [13]:
def list_small(a):

  small = a[0]

  for i in a:
    if i < small:
      small = i
  return small

In [14]:
list_small([38, 28, 13])

13

### 4.	Write a Python program to find largest number in a list?

In [15]:
def list_large(a):

  large = a[0]

  for i in a:
    if i > large:
      large = i
    return large

In [16]:
list_large([198, 5819, 282])

198

### 5.	Write a Python program to find second largest number in a list?

In [17]:
def list_large2nd(a):

  large = a[0]
  large_2 = a[0]

  for i in a:
    if i > large:
      large_2 = large
      large = i
    
    elif i > large_2 and i != large:
      large_2 = i
  
  return large_2

In [18]:
list_large2nd([1, 2, 5, 9])

5

### 6.	Write a Python program to find N largest elements from a list?

In [19]:
def n_large(a, num):

  a.sort(reverse = True)

  return a[:num]

In [20]:
n_large([38, 298, 2982, 13], 2)

[2982, 298]

### 7.	Write a Python program to print even numbers in a list?

In [24]:
def list_even(a):

  for i in a:
    if i%2 == 0:
      print(i)

In [26]:
list_even([1, 2, 3, 4])

2
4

### 8.	Write a Python program to print odd numbers in a List?

In [27]:
def list_odd(a):

  for i in a:
    if i%2 != 0:
      print(i)

In [28]:
list_odd([1009, 9283, 12, 290])

1009
9283

### 9.	Write a Python program to Remove empty List from List?

In [29]:
def rem_list(a):

  return [i for i in a if i]

In [31]:
rem_list([[], [2], 1, 5])

[[2], 1, 5]

### 10.	Write a Python program to Cloning or Copying a list?

In [32]:
def clone(a):
  return a[:]

def copy(a):
  return a.copy(a)

### 11.	Write a Python program to Count occurrences of an element in a list?

In [33]:
def count_list(lst, ele):

  count = 0

  for i in lst:

    if i == ele:
      count += 1
  return count

In [34]:
count_list([1, 3, 5, 2, 1, 2, 1, 9, 2, 3], 1)

3