### Question1
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

In [1]:
def filter_list(lst):
    return [x for x in lst if isinstance(x, int)]

In [2]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

### Question2
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

In [3]:
def add_indexes(lst):
    return [num + index for index, num in enumerate(lst)]

In [4]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

### Question3
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth.

In [5]:
import math

def cone_volume(height, radius):
    volume = (1/3) * math.pi * (radius**2) * height
    return round(volume, 2)

In [6]:
cone_volume(15, 6)

565.49

### Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [7]:
def triangle(position):
    dots = position * (position + 1) // 2
    return dots

In [8]:
triangle(215)

23220

### Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [10]:
def missing_num(numbers):
    n = 10
    total_sum = n * (n + 1) // 2
    given_sum = sum(numbers)
    missing_number = total_sum - given_sum
    return missing_number

In [11]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5