### Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(number):
    number_str = str(number)
    reverse_str = number_str[::-1]
    return number_str == reverse_str

In [2]:
is_symmetrical(1112111)

True

### Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [3]:
def multiply_nums(numbers):
    num_list = numbers.split(", ")
    product = 1
    for num in num_list:
        product *= int(num)
    return product

In [4]:
multiply_nums("1, 2, 3, 4")

24

### Question 3
Create a function that squares every digit of a number.

In [5]:
def square_digits(number):
    number_str = str(number)
    squared_digits = ""
    for digit in number_str:
        squared_digit = str(int(digit) ** 2)
        squared_digits += squared_digit
    return int(squared_digits)

In [6]:
square_digits(2483)

416649

### Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [7]:
def setify(lst):
    sorted_lst = sorted(lst)
    unique_lst = list(set(sorted_lst))
    return unique_lst

In [8]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

### Question 5
Create a function that returns the mean of all digits.

In [9]:
def mean(number):
    number_str = str(number)
    digit_sum = sum(int(digit) for digit in number_str)
    mean = digit_sum / len(number_str)
    return mean

In [10]:
mean(12345)

3.0