## 
1. Control Flow statements

- if else
- if elif else
- nested if else
- single line if else [Not recommended]

2. Loops in python
- for
- while

In [ ]:
#if else

#### If elif condition

##### Order > Rs 500
- discount = 20%

##### Order > Rs 1000
- discount = 30%

In [ ]:
total = 930

if total > 1000:
  price = total*0.7
  print(f"Ammount payed : {price}")
elif total <1000 and total > 500:
  price = total*0.8
  print(f"Ammount to be payed : {price}")
else:
  price = total
  print(f"Ammount to be played: {price}")

print(f"Cart total should be {total}")
print(f"Ammount to be payed {price}")

Ammount to be payed : 744.0
Cart total should be 930
Ammount to be payed 744.0

### Nested if else

In [ ]:
# print if the number is negative or positive

val = float(input("Enter the nuber: "))
if val>=0:
  if val == 0:
    print("Neither negative nor positive")
  else:
    print("Positive number")
else:
  print("Negative number")

Enter the nuber: -23.23
Negative number

### Single Statment

In [ ]:
val = float(input("Enter number: "))
if val>99: print("yes")
else: print("no")

Enter number: 2
no

In [ ]:
val = float(input("Enter number: "))
print("yes" if val > 100 else "no")

Enter number: 293
yes

## Loops

1. While loop
2. For loop
3. loop control
   - break
   - continue
   - pass
4. nested loop

In [ ]:
## Goverment exam example

In [ ]:
marks = 1000
cutoff = 400 
score = [100, 200, 295, 300, 400, 500]

#attempt till succced 
year = 0

while score[year] < cutoff:
  print(f"Your score is: {score[year]}, cutooff is : {cutoff}")
  print("Need to attempt next year")
  year += 1

Your score is: 100, cutooff is : 400
Need to attempt next year
Your score is: 200, cutooff is : 400
Need to attempt next year
Your score is: 295, cutooff is : 400
Need to attempt next year
Your score is: 300, cutooff is : 400
Need to attempt next year

#### Infinite Loop
- It will run until statement becomes false

In [ ]:
notes = 5 
i = 1
while i <= notes:
  print(f"current sum: {i*10}")
  i += 1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50

### For loop

In [ ]:
#it tries to iterate towards list 

for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for 17 table
for i in range(0, 11):
  print(f"17 x {i} = {17*i}")

17 x 0 = 0
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

In [ ]:
for i in range(1, 11):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
cost = [100, 200, 154, 543]

sum = 0
for i in range(0, 4):
  total = total + cost[i]
print(f"Total ammount to be paid{total}")

Total ammount to be paid1927

In [ ]:
#if there are infinite number use len funtion
for i in range(0, len(cost)):
  total = total + cost[i]
print(f"{total}")

2924

In [ ]:
for i in range(0, 51):
  print(f"{i>30}")

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [ ]:
cost = [130, 258, 239]
total = 0

for i in range(0, 3):
  print(f"{total} = {total} + {cost[i]}")
  total = total + cost[i]
  print(f"Total ammount now = {total}")
  print("--")
print(f"Total sum is {total}")

0 = 0 + 130
Total ammount now = 130
--
130 = 130 + 258
Total ammount now = 388
--
388 = 388 + 239
Total ammount now = 627
--
Total sum is 627

In [ ]:
#other option 

cost = [130, 258, 239]
total = 0

for costo in cost:
  print(f"{total} = {total} + {costo}")
  total = total + costo
  print(f"Total ammount now = {total}")
  print("--")
print(f"Total sum is {total}")

0 = 0 + 130
Total ammount now = 130
--
130 = 130 + 258
Total ammount now = 388
--
388 = 388 + 239
Total ammount now = 627
--
Total sum is 627

In [ ]:
stations = ["State 1", "State 2", "State 3"]

for stat in stations:
  print(f"current station is {stat}")

current station is State 1
current station is State 2
current station is State 3

#### Break & Continue

In [ ]:
costed = [100, 599, 2339, 192, 140]
sum = 0
budget = 3000

for cost in costed:
  sum = sum + cost
  if sum > budget:
    sum = sum - cost
    break

print(f"total ammount to be paid: {sum}")

total ammount to be paid: 699

In [ ]:
for i in range(1, 101):
  if i > 50:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
for i in range(1, 101):
  if i%2 == 0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99